.banner {
    background-color: rgb(78, 119, 206);
}

body {

    background-color: rgb(50,50,50);

}

@media (max-width: 768px) {
    h1{
        font-size:3em;
    }
    
    h2 {
        font-size:1.5em;
    }
}

@media (min-width: 768px) {
    h1{
        font-size:5em;
    }
}

.menubar {

}
.menutext {

    color: rgb(78, 119, 206);

}
.menutext:hover {
    background-color:rgb(78, 119, 206);
    color: white;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    float:left;
    background:cyan;
    border-radius:25px;
}

.container {
    max-width: 600px;;
    margin: 0 auto;

}